<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>About Joe Minock</h1>
			<p>Bacon ipsum dolor amet salami andouille venison, kevin bresaola jowl shankle pork belly cupim. Sausage filet mignon turducken, tail pork belly fatback beef ribs pork chop pig. Kevin boudin swine, pork belly flank doner andouille ground round meatball salami picanha tri-tip t-bone. Tongue landjaeger ribeye fatback, pork chop t-bone andouille capicola chicken chuck tail jowl pastrami jerky. Flank porchetta pork loin shoulder tail ham hock cow short ribs filet mignon pork chop turkey pork picanha.</p>

			<p>Leberkas sirloin filet mignon capicola pastrami t-bone shank cow kielbasa biltong swine. Strip steak drumstick jerky tri-tip pastrami capicola salami doner sausage pork swine short ribs. Turkey sirloin bresaola salami kielbasa landjaeger boudin porchetta sausage flank jowl. Turducken sausage bacon frankfurter short loin sirloin venison. Salami prosciutto swine cow meatball, turducken shoulder corned beef meatloaf. Chuck kevin t-bone, fatback picanha tail pig ball tip drumstick capicola. Brisket ball tip spare ribs flank pork belly picanha chuck drumstick salami short loin venison.</p>

			<p>Flank andouille turducken, pork loin kevin swine tail capicola corned beef tongue shankle ground round bresaola. Ground round flank tail, filet mignon swine landjaeger ham hock alcatra sausage meatloaf cupim picanha tri-tip strip steak. Tri-tip alcatra meatloaf short loin pork chop venison bacon ground round. Short ribs fatback rump meatloaf strip steak sausage. Ham hamburger tongue turducken short loin doner.</p>

			<p>Alcatra tail pork belly shankle bacon flank ham frankfurter ground round tri-tip. Cow shank kevin bacon, shoulder beef spare ribs ground round cupim pastrami alcatra. Strip steak biltong short ribs, chuck pancetta turducken kevin. Tail pork sausage ham hock frankfurter. Filet mignon shankle porchetta, turducken doner ground round corned beef tail sirloin capicola ball tip.</p>
		</div>
	</div>
</div>