<div class="bigjoe about">
	<div class="container">
		<div class="intro">
			<div class="row">
				<h1 class="intro-heading">About Me</h1>
				<hr>
				<h3 class="intro-subheading">Adrenaline Loving, Adventurer, Learner, Thinker, tinkerer, and do'er</h3>

				<div class="col-md-12 ">
					<p><span class ="bold">Adrenaline Lover</span>. I'm a fan of fun and at home in any environment where risk is present. I've been scaring the life out of my parents since a very early age. Throughout my life, I've competed in Roller Speed Skating, Inline Speed Skating, BMX, Ski Racing, and Downhill Mountain Biking. When I'm not blasting down a hill at highway speeds (I've been on skis at ~80mph), I can be found climbing, hiking, or camping</p>

					<p><span class ="bold">Adventurer</span>. Born with wanderlust, I've been in 38 states and 3 countries (so far). I love to explore roads less travelled with the express intent of finding interesting places. Hiking and camping are favorite pastimes and is something that I hope to do more of as I spend more time in Colorado. I've had the fortune of hiking some pretty amazing places in the country and look forward to adding many of Colorado's 14'ers to my done list.</p>

					<p><span class ="bold">Learner</span>. I'm forever curious and always learning something new. In the realm of technology and wood working, I'm self-taught. At current, I'm a student at the CodeCraft School of Technology and focused on learning Javascript. When I'm not in class, I'm continuing to teach myself Ruby and Ruby on Rails.</p>
					
					<p>Outside of the technology world, I taught myself the art of woodworking, table making, and welding. If I cant create something with 1's and 0's, I'm more than happy to build it with metal and wood.</p>

					<p><span class ="bold">Thinker</span>. While ideas are a dime a dozen, I've found I have a great ability in being able to visualize and assess a problem in such a way that I can create a repeatable outcome. Through deep thought and analysis, I'm able to come up with viable methods for iteratively testing an idea.</p>

					<p><span class ="bold">Tinkerer</span>. If it can be done, I'll figure out how to do it... I'm a fan of doing things the hard way and generally that means doing something a number of times before a system or product is perfected. It might take a little longer, but the lessons are ever lasting. "Try (fix), try (adjust), try (tweak), try and succeed".</p>

					<p><span class ="bold">Do'er</span>. I favor action over anything else. It's great to take time to think about things, but it's even better to put them into action so that the idea can be tested. I've taken many ideas from ether to execution. Many have failed, a few worked, but all outcomes supported action over indecision. "Do, and die with no regrets".</p>
				 </div>
			 </div>
			 <div class="row">
			 
				 <h3 class="intro-subheading">Education and Experience</h3>
				 <hr>
			 
				<div class="col-md-4 col-sm-6">
					<h4 class="intro-subheading">Proficient</h4>
					<p>I consider myself to have above average experience and knowledge in the following areas.</p>
					<ul>
						<li class="no-decoration li-heading"><h5 class="bold">eCommerce</h5></li>
							<p class="dedent">Shopify, Volusion, BigCommerce, Magento, Spree</li>
						<li class="no-decoration li-heading"><h5 class="bold">Wordpress</h5></li>
						<li class="no-decoration li-heading"><h5 class="bold">Lean Startup</h5></li>
						<li class="no-decoration li-heading"><h5 class="bold">UI/UX</h5>
					</ul>
				</div>
				<div class="col-md-4 col-sm-6">		
					<h4 class="intro-subheading">Functional Knowledge</h4>
					<p>I have a significant amount of functional experience in this area, but do not consider myself above average.</p>
					<ul>
						<li class="no-decoration li-heading"><h5 class="bold">CSS</h5></li>
							<p class="dedent">CSS3, Bootstrap, Materialize, SASS</p>
						<li class="no-decoration li-heading"><h5 class="bold">Heroku</h5></li>
						<li class="no-decoration li-heading"><h5 class="bold">Git</h5></li>
						<li class="no-decoration li-heading"><h5 class="bold">Github</h5></li>
						<li class="no-decoration li-heading"><h5 class="bold">DNS</h5></li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-6">
					<h4 class="intro-subheading">Learning</h4>
					<p>A lifelong learner, this is what I'm working on now</p>
					<ul>
						<li class="no-decoration li-heading"><h5 class="bold">Javascript</h5></li>
							<p class="dedent">Fundamentals, jQuery, Ajax, React, Meteor, Angular</p>
						<li class="no-decoration li-heading"><h5 class="bold">Ruby</h5></li>
							<p class="dedent">Fundamentals, Sinatra, Ruby on Rails</p>
						<li class="no-decoration li-heading"><h5 class="bold">Servers and Database</h5></li>
							<p class="dedent">Postgres, MongoDB, Puma, Unicorn, Heroku Scaling</p>
					</ul>
				</div>				
			</div>
		</div>
	</div>
</div>
