	<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="bigjoe home">
<!-- Youtube player start-->
		<div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=UPAr2cSUcFw', containment:'.module-hero', startAt:0, mute:false, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
		<!-- Youtube player end -->
	<div class="container">
		<div class="intro">
			<div class="row">
			<h1 class="intro-heading">joe minock, Principal | MinockMade</h1>
			<hr>
			<h3 class="intro-subheading">Thinking Big and Solving Big Problems While maintaining a Focus on Simple Solutions that can be executed in minimally viable, lean iterations.</h3>
				
				<div class="col-md-12">
						<p>Bacon ipsum dolor amet ribeye corned beef swine chuck spare ribs picanha sausage chicken drumstick strip steak pastrami brisket. T-bone shankle beef ribs rump brisket, tongue picanha ribeye drumstick. Bresaola t-bone venison, swine frankfurter turducken shankle picanha shoulder sausage. Pork loin turkey ham filet mignon, pig venison boudin porchetta doner shoulder landjaeger leberkas jowl hamburger. Chicken bresaola jerky tail cow ball tip sirloin turkey bacon landjaeger cupim.</p>
						<p>Bacon ipsum dolor amet ribeye corned beef swine chuck spare ribs picanha sausage chicken drumstick strip steak pastrami brisket. T-bone shankle beef ribs rump brisket, tongue picanha ribeye drumstick. Bresaola t-bone venison, swine frankfurter turducken shankle picanha shoulder sausage. Pork loin turkey ham filet mignon, pig venison boudin porchetta doner shoulder landjaeger leberkas jowl hamburger. Chicken bresaola jerky tail cow ball tip sirloin turkey bacon landjaeger cupim.</p>
						<p>Bacon ipsum dolor amet ribeye corned beef swine chuck spare ribs picanha sausage chicken drumstick strip steak pastrami brisket. T-bone shankle beef ribs rump brisket, tongue picanha ribeye drumstick. Bresaola t-bone venison, swine frankfurter turducken shankle picanha shoulder sausage. Pork loin turkey ham filet mignon, pig venison boudin porchetta doner shoulder landjaeger leberkas jowl hamburger. Chicken bresaola jerky tail cow ball tip sirloin turkey bacon landjaeger cupim.</p>
						<p>Bacon ipsum dolor amet ribeye corned beef swine chuck spare ribs picanha sausage chicken drumstick strip steak pastrami brisket. T-bone shankle beef ribs rump brisket, tongue picanha ribeye drumstick. Bresaola t-bone venison, swine frankfurter turducken shankle picanha shoulder sausage. Pork loin turkey ham filet mignon, pig venison boudin porchetta doner shoulder landjaeger leberkas jowl hamburger. Chicken bresaola jerky tail cow ball tip sirloin turkey bacon landjaeger cupim.</p>
						<p>Bacon ipsum dolor amet ribeye corned beef swine chuck spare ribs picanha sausage chicken drumstick strip steak pastrami brisket. T-bone shankle beef ribs rump brisket, tongue picanha ribeye drumstick. Bresaola t-bone venison, swine frankfurter turducken shankle picanha shoulder sausage. Pork loin turkey ham filet mignon, pig venison boudin porchetta doner shoulder landjaeger leberkas jowl hamburger. Chicken bresaola jerky tail cow ball tip sirloin turkey bacon landjaeger cupim.</p>
			 </div>
			 <hr />
			 <div class="col-md-4">
							<h3 class="intro-subheading">Focused Experience</h3>
							<p>I have at least 4 years experience in the following areas</p>
							<ul>
								<li class="no-decoration li-heading"><h5>eCommerce</h5></li>
									<p class="dedent">Shopify, Volusion, BigCommerce, Magento, Spree</li>
								<li class="no-decoration li-heading"><h5>Wordpress</h5></li>
								<li class="no-decoration li-heading"><h5>Lean Startup</h5></li>
								<li class="no-decoration li-heading"><h5>UI/UX</h5>
							</ul>
			 </div>
			 <div class="col-md-4">		
							<h3 class="intro-subheading">Proficient</h3>
							<p>I have at least 4 years experience in the following areas</p>
							<ul>
								<li class="no-decoration li-heading"><h4>CSS</h4></li>
									<p class="dedent">CSS3, Bootstrap, Materialize, SASS</p>
								<li class="no-decoration li-heading"><h4>Heroku</h4></li>
								<li class="no-decoration li-heading"><h4>Git</h4></li>
								<li class="no-decoration li-heading"><h4>Github</h4></li>
								<li class="no-decoration li-heading"><h4>DNS</h4></li>
							</ul>
				</div>
				<div class="col-md-4">
							<h3 class="intro-subheading">Learning</h3>
							<p>A lifelong learner, this is what I'm working on now</p>
							<ul>
								<li class="no-decoration li-heading"><h4>Javascript</h4></li>
									<p class="dedent">Fundamentals, jQuery, Ajax, React, Meteor, Angular</p>
								<li class="no-decoration li-heading"><h4>Ruby</h4></li>
									<p class="dedent">Fundamentals, Sinatra, Ruby on Rails</p>
								<li class="no-decoration li-heading"><h4>Servers and Database</h4></li>
									<p class="dedent">Postgres, MongoDB, Puma, Unicorn, Heroku Scaling</p>
							</ul>
				</div>		
			</div>
		</div>
	</div>
</div>
