<section id="main-home">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<div class="main-text-area">
							<div class="main-text">
								<h2>Joe Minock</h2>
								<hr>
								<p class="sub-main-text">Big Thinking Problem Solver, Focused on Executing Simplified Solutions in the most elegant, logical, and budget conscious manner.</p>
								<p class="main-p"></p>
								
								<%= link_to "Contact", contact_path, class: "btn btn-default edit-button-1" %>
							</div>
						</div>
					</div>
				</div>
				<!-- .col-md-12 close -->
			</div>
			<!-- .row close -->
		</div>
		<!-- .container close -->
	</section>
	<!-- #slider close -->