<section id="slider">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<div class="slider-text-area">
							<div class="slider-text">
								<h2>Joe Minock <br></h2>
								<p class="sub-slider-text">Big Thinking Problem Solver, Focused on Executing Simplified Solutions in the most elegant, logical, and budget conscious manner.</p>
								<p class="slider-p">Bacon ipsum dolor amet ribeye corned beef swine chuck spare ribs picanha sausage chicken drumstick strip steak pastrami brisket. T-bone shankle beef ribs rump brisket, tongue picanha ribeye drumstick. Bresaola t-bone venison, swine frankfurter turducken shankle picanha shoulder sausage. Pork loin turkey ham filet mignon, pig venison boudin porchetta doner shoulder landjaeger leberkas jowl hamburger. Chicken bresaola jerky tail cow ball tip sirloin turkey bacon landjaeger cupim.</p>
								<button type="button" class="btn btn-default edit-button-1">Contact</button>
							</div>
						</div>
					</div>
				</div>
				<!-- .col-md-12 close -->
			</div>
			<!-- .row close -->
		</div>
		<!-- .container close -->
	</section>
	<!-- #slider close -->