<section id="main-home">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<div class="main-text-area">
						<div class="main-text">
							<h2>Joe Minock</h2>
							<hr>
							<p class="sub-main-text">Big Thinking Problem Solver, Focused on Executing Simplified Solutions in the most elegant, logical, and budget conscious manner.</p>
							<p class="main-p"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- .col-md-12 close -->
			<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
				<%= link_to "Contact", contact_path, class: "btn btn-default edit-button-1" %>
			</div>
		</div>
		<!-- .row close -->
	</div>
	<!-- .container close -->
</section>
<!-- #slider close -->