<div class="container-fluid">
	<video autoplay="" loop="" class="fillWidth fadeIn animated video" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
			<source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.


			<div class="bigjoe home">
				<div class="container">
					<div class="intro">
						<div class="row">
							<h1 class="intro-heading">joe minock</h1>
							<hr>
							<h3 class="intro-subheading main">Big Thinking Problem Solver Focused on Executing Simplified Solutions in the most elegant and logical way.</h3>
						</div>
					</div>
				</div>
		</div>
	</video>
</div>