<div class="container-fluid">
    <div class="embed-responsive embed-responsive-16by9">
        <div id="background">
           <iframe id='player' width="100%" height="100%" src="https://www.youtube.com/embed/UPAr2cSUcFw?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=UPAr2cSUcFw&amp;enablejsapi=1&version=3" frameborder="0"></iframe>
        
        	<div class="caption-content">
						<div class="hs-title-size-4 font-alt m-b-30">
							My Name is Joe Minock
						</div>
						<div class="hs-title-size-1 font-inc">
							I am an adrenaline loving, adventurer, foodie, thinker, tinkerer, and do'er. 
						</div>
					</div>

					 <div class="video-controls">
							<a id="video-volume" class="fa fa-volume-up" href="#" style="visibility: visible;">&nbsp;</a>
							<a id="video-play" class="fa fa-pause" href="#" style="visibility: visible;">&nbsp;</a>
					 </div>     
        
        
        
        </div>
    </div> 
        
</div>