/* Page Font */

body {
	font-family: 'Lato', sans-serif;
}

.navbar {
    position: relative;
    min-height: 50px;
		margin-bottom: 0px;
    border-bottom: 1px solid transparent;
}

.navbar-inverse {
    background-color: #fff;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* section#intro {
    background-color: rgba(26,35,126,0.3); */
		
  }

.bigjoe {
		background-repeat: no-repeat;
		background-position: absolute;
		height: 100%;
		padding-bottom: 50px;
		
}

.home {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://s3.amazonaws.com/codecraftweek1joe/colorado.jpeg);
}

.about {
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://s3.amazonaws.com/codecraftweek1joe/planer_image.jpeg);
}

.contact {
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://s3.amazonaws.com/codecraftweek1joe/contact.jpeg);
}

.wood {
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://s3.amazonaws.com/codecraftweek1joe/planer_image.jpeg);
}

.web {
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://s3.amazonaws.com/codecraftweek1joe/web.jpeg);
}

.intro-heading {
	text-transform: uppercase;
	color: #fff;
	padding-top: 30px;
}

.intro-subheading {
	text-transform: uppercase;
	color: #ccc;
	padding-top: 10px;
}

.intro {
	text-emphasis: strong;
	color: #000;
	color: #fff;	
}

.cta {
	padding-top: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
		margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}