/* Page Font */

body {
	font-family: 'Lato', sans-serif;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

section#intro {
    background-color: rgba(26,35,126,0.3); 
  }

.bigjoe {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
		background-image: url(https://images.unsplash.com/photo-1454335459109-cd8a2c230bc2?ixlib=rb-0.3.5&q=80&fm=jpg);
		background-color: rgba(0, 0, 255, 0.5);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		height: auto;
}


.intro-heading {
	text-transform: uppercase;
	color: #fff;
	padding-top: 30px;
}

.intro-subheading {
	text-transform: uppercase;
	color: #ccc;
	padding-top: 10px;
}

.intro {
	text-emphasis: strong;
	color: #000;
	padding-top: 10px;
	color: #fff;	
}

.cta {
	padding-top: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
		margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}