/* Page Font */

body {
	font-family: 'Lato', sans-serif;
}

.bigjoe {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
		background-image: url(https://assets.about.me/background/users/j/o/e/joeminock_1375718450_37.jpg);
		background-color: rgba(0, 0, 255, 0.3);
		background-repeat: no-repeat;
		background-size: 100%;
}

.intro-heading {
	text-transform: uppercase;
	color: #fff;
	padding-top: 30px;
}

.intro-subheading {
	text-transform: uppercase;
	color: #333;
	padding-top: 10px;
}

.intro {
	text-emphasis: strong;
	color: #000;
	padding-top: 10px;
}